<div class="page-wrapper full-page-wrapper">
    <main class="content-wrapper">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                    <div class="mdc-card p-0">
                        <section class="error-header">
                            <h1 class="mdc-typography--display2 mb-0">403 !</h1>
                        </section>
                        <section class="error-info">
                            <p>Forbidden</p>
                            <p class="mb-2">The request was valid, but the server is refusing action. You might not have the necessary permissions for a resource, or may need an account of some sort</p>
                            <a asp-action="Dashboard" asp-controller="Home">Go back to Home</a>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <partial name="Footer" />
</div>